[domain/{{ common_info.data.domain | upper }}]
access_provider = simple
auth_provider = ad
chpass_provider = ad
id_provider = ad
dyndns_update = true
override_homedir = /home/%u
override_shell = /bin/bash
default_shell = /bin/bash
ldap_idmap_range_size = 4000000
cache_credentials = true
simple_allow_groups = {{ common_info.data.global_admins }}, 
    {{- common_info.data.global_ssh }}, 
    {{- common_info.data.machine_admins | format(ansible_hostname) }}, 
    {{- common_info.data.machine_ssh | format(ansible_hostname) }}, 
ignore_group_members = true
ad_gpo_access_control = disabled
ad_enable_gc = false
ad_use_ldaps = true
[sssd]
services = nss, pam
config_file_version = 2
domains = {{ common_info.data.domain | upper }}
[pam]
pam_cert_auth = true